<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/bank/tixian_jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,820},{55,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,61}</string>
			</dict>
			<key>cocostudio/home/image/bank/tixian_shurumima.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1},{447,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{447,71}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_beijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1252},{749,1248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{749,1248}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_cichuzhixiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,2003},{299,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,23}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_congyinhangqukuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,877},{328,443}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,453}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_congyinhangqukuan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,331},{322,436}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,453}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_congyinhangqukuanwenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,2003},{191,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,37}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_cunkuandaoyinhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1},{328,443}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,453}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_cunkuandaoyinhang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,1248},{322,436}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,453}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_cunkuandaoyinhangwenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,2003},{191,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,37}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_cunqu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,1180},{240,66}}</string>
				<key>offset</key>
				<string>{23,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,70}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_cunqu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,718},{240,66}}</string>
				<key>offset</key>
				<string>{24,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,70}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_cunruwenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1207},{77,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,41}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_denglubeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{751,1249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{751,1249}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_hengtiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,1},{724,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{724,63}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_qingdengrumima.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,1},{715,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,435}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_quchongzhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,718},{209,78}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,115}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_quchongzhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,684},{229,86}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,115}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_quchuwenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1207},{76,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,41}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_qurenxiugai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,798},{210,77}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,115}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_qurenxiugai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,450},{232,85}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,115}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_tishi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2003},{559,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{559,24}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_wangjimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,2003},{162,33}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,34}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_xiugaimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,915},{174,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,257}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_xiugaimima1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,1},{240,66}}</string>
				<key>offset</key>
				<string>{-24,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,70}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_xiugaimima2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,243},{240,66}}</string>
				<key>offset</key>
				<string>{-24,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,70}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_yinhangbiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,877},{301,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,115}</string>
			</dict>
			<key>cocostudio/home/image/bank/yinhang_zuidawenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,727},{91,57}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>banker_sp.png</string>
			<key>realTextureFileName</key>
			<string>banker_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>