<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/personal/di_changtiaoditongyong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1334},{574,1335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{574,1335}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_gerenxinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,0},{224,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,76}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_gerenxinxidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{574,629}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{574,629}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_qingshurunicheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1991},{186,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,35}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_queren1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,1908},{271,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,117}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_queren2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,1908},{271,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,117}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_shurunichengdii.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1908},{494,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,83}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_xiugaixinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,224},{202,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,62}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_xiugaixinxi1i.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,426},{158,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,72}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_xiugaixinxi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,1103},{158,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,72}</string>
			</dict>
			<key>cocostudio/home/image/personal/di_xiugaixinxineirong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,0},{571,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{571,367}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1991},{200,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,49}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/dating_paiyouchang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1103},{116,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,171}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,0},{319,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,237}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,319},{319,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,237}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,629},{319,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,237}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,629},{319,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,237}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,866},{319,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,237}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,948},{319,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,237}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_kuaisukaishi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,1908},{278,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,119}</string>
			</dict>
			<key>cocostudio/home/image/roomselect/youxichangyu_kuaisukaishi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1908},{278,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,119}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>personal_sp.png</string>
			<key>realTextureFileName</key>
			<string>personal_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>