<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/sign/qiandao_tianshuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2014},{200,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,28}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_12888.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,2014},{111,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_3888.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,2014},{91,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_6888.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,2014},{92,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_9888.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2014},{92,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_award0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_award1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_award3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1421,323},{99,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_btn_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,149},{313,94}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,160}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_btn_get1.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1580},{345,104}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,160}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1997},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1734},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day11.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1734},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day20.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1734},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day21.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1734},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day30.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1734},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day31.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1337},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day40.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1723},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1686},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1421,1},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,1},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day60.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day61.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,244},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day70.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,1},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_day71.png</key>
			<dict>
				<key>frame</key>
				<string>{{1421,162},{159,241}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_get_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{722,395}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{722,412}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_get1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,310},{140,100}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_get2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,155},{118,119}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_get3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,162},{155,146}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_get4.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,474},{143,127}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_get5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1821,275},{156,141}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_get6.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,316},{156,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_get7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,1},{152,118}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,285}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_had_got.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1686},{183,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,35}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_img6d.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1870},{56,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,29}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_item_had_got.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1966},{129,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,73}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_line0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1977},{676,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{676,19}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1997},{673,15}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{676,19}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1997},{219,29}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,29}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{313,94}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,160}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_sure1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,1929},{345,104}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,160}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_t10d.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,2014},{76,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,29}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_t15d.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1734},{76,28}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,29}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_t3d.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1966},{56,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,29}</string>
			</dict>
			<key>cocostudio/home/image/sign/sign_tjb.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1812},{56,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,30}</string>
			</dict>
			<key>cocostudio/home/image/sign/sin_item_shade.png</key>
			<dict>
				<key>frame</key>
				<string>{{1143,162},{159,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,237}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>home_sign_sp.png</string>
			<key>realTextureFileName</key>
			<string>home_sign_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>