<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\koko_code\client\libs\TexasPorker.exe</StartProgram>
    <StartArguments>-workdir E:\koko_code\client\texas -resolution 540x960</StartArguments>
    <StartWorkingDirectory>E:\koko_code\client\texas</StartWorkingDirectory>
  </propertyGroup>
</Project>