<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/Rank/rank_t_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,800},{370,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,28}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,464},{152,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,94}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,828},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_wsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,828},{91,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,30}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{685,1090}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{685,1090}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_bilion.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,828},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,826},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_btn_close1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,885},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,737},{232,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,63}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_btn_left2.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,737},{232,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,63}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,0},{232,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,63}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_btn_right2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,232},{232,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,63}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,685},{635,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{635,173}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_js_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,828},{237,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,28}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_no1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,616},{85,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,125}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_node_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,858},{626,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{626,147}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_node_myself_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,858},{632,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,152}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_node2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,701},{85,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,125}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_node3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,701},{85,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,125}</string>
			</dict>
			<key>cocostudio/home/image/Rank/rank_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,685},{380,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>rank_sp.png</string>
			<key>realTextureFileName</key>
			<string>rank_sp.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>