<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/gerenxinxi_cha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,978},{39,37}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,57}</string>
			</dict>
			<key>common/gerenxinxi_cha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,978},{43,41}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,57}</string>
			</dict>
			<key>common/gerenxinxi_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{752,499}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{782,522}</string>
			</dict>
			<key>common/tongyong_anniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,824},{209,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,96}</string>
			</dict>
			<key>common/tongyong_anniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,791},{229,86}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,96}</string>
			</dict>
			<key>common/tongyong_anniuxiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,824},{152,67}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,93}</string>
			</dict>
			<key>common/tongyong_anniuxiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,824},{168,73}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,93}</string>
			</dict>
			<key>common/tongyong_anniuziqietu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,755},{1025,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1025,34}</string>
			</dict>
			<key>common/tongyong_dixiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,1},{628,442}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{652,458}</string>
			</dict>
			<key>common/tongyong_shuziqietu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,824},{495,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{499,36}</string>
			</dict>
			<key>common/tongyong_yinhangziqietu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,791},{926,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{930,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>