<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>koko/atlas/game_ico/1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
			<key>koko/atlas/game_ico/1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,263},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
			<key>koko/atlas/game_ico/1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,525},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
			<key>koko/atlas/game_ico/1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,787},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
			<key>koko/atlas/game_ico/1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1049},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
			<key>koko/atlas/game_ico/1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1311},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,668},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1922},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1922},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1922},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,1922},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,668},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1321},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1443},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1565},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,1687},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1809},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,1321},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/001/0100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/001/0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,658},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/001/0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,658},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/001/0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,1},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/001/0104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,627},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/001/0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,272},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,806},{234,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,234}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,749},{133,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,50}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1931},{105,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,108}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_1/000_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1041},{58,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,74}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/1/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,525},{229,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,222}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/1/1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1},{229,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,222}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/1/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,225},{229,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,222}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/1/1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,501},{229,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,222}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/1/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{229,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,222}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/1/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,225},{229,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,222}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/1/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1041},{229,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,222}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/1/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,799},{229,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,222}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/000_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1514},{234,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,233}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/000_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1749},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/000_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,1},{209,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,155}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_2/lz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2006},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1242},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,1009},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,790},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1438},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1205},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,986},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,790},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,431},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,431},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1401},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,1702},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/00/000_21_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,1},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/000_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1797},{234,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,233}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/000_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1597},{100,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,103}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/000_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,417},{145,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,158}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_3/000_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,449},{111,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,50}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,292},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,292},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,139},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,627},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,278},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,133},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,1898},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1182},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,986},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000/0_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1489,766},{176,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,137}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,1},{208,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,136}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1749},{157,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,46}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_4/000_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1042},{234,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,234}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_5/000_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1278},{234,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,234}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_5/000_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,449},{120,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,46}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_5/01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1835},{207,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,181}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_5/01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1835},{236,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,169}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_5/sss.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,449},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,449},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,220},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1265},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1484},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1703},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1265},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1484},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,1703},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1023},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,790},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/1/0_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,439},{203,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,217}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/000_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,158},{243,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,132}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/000_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1117},{48,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,55}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/000_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,806},{234,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,233}</string>
			</dict>
			<key>koko/atlas/game_ico/ico_6/000_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,449},{118,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,47}</string>
			</dict>
			<key>koko/atlas/game_ico/1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,525},{235,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,279}</string>
			</dict>
			<key>koko/atlas/game_ico/1008.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,749},{122,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,48}</string>
			</dict>
			<key>koko/atlas/game_ico/majiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1573},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
			<key>koko/atlas/game_ico/shoul.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
			<key>koko/atlas/game_ico/zhengba.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,263},{260,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,260}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_ico.png</string>
			<key>realTextureFileName</key>
			<string>game_ico.png</string>
			<key>size</key>
			<string>{2035,2043}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2035</integer>
			<key>height</key>
			<integer>2043</integer>
		</dict>
	</dict>
</plist>