<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_choumatubiaobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{2234,1647},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_chuangjianhaoyoufangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_chuangjianpaiju.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,1337},{285,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,426}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_dairuchouma.png</key>
			<dict>
				<key>frame</key>
				<string>{{3629,1998},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_duihuanchoumashangxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{4048,716},{204,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,33}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufang.png</key>
			<dict>
				<key>frame</key>
				<string>{{3629,1742},{329,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,126}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangchouma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1944,1745},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangrenshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2424,1505},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2182,1647},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangshijian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,1867},{124,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,37}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangxuanzedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,1765},{695,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{695,141}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangxuanzedijifenchang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2176,1709},{118,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,30}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangxuanzedijinbichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,1869},{118,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,30}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_haoyoufangxuanzedishuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{4048,450},{264,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,33}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_huadongtiaodig.png</key>
			<dict>
				<key>frame</key>
				<string>{{4048,1},{30,447}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,447}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_huadongtiaodipian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2035,1709},{30,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,139}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jiarufangjiandi.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,1337},{562,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,702}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jiarupaiju.png</key>
			<dict>
				<key>frame</key>
				<string>{{3201,1742},{285,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,426}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jifenchanganniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,1674},{291,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,69}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jifenchanganniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,1674},{291,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,69}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jifenchanganniuhengtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{3953,1},{751,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{751,93}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jinbichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{3629,1870},{329,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,126}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jinbichanganniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2131,1505},{291,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,69}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jinbichanganniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2175,1576},{291,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,69}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jindutiaochouma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,1745},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jindutiaokong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,2019},{672,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{672,22}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jindutiaokongyuandian.png</key>
			<dict>
				<key>frame</key>
				<string>{{3923,1998},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_jindutiaoman.png</key>
			<dict>
				<key>frame</key>
				<string>{{2527,2019},{672,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{672,22}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_kaifangnniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2605,1890},{292,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,108}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_kaifangnniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2662,1775},{292,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,108}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_qianzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{3776,1998},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_shichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2035,1674},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_wodepaiju.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,1609},{724,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,63}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_wodepaijuchoumashuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{4045,922},{408,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{408,49}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_wodepaijuchoumashuzilv.png</key>
			<dict>
				<key>frame</key>
				<string>{{4045,1332},{408,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{408,49}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_xiaomangdamang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,1832},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjianniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3960,1742},{294,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,113}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjianniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2366,1775},{294,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,113}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjibiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{2035,1741},{329,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,126}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{3201,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjidi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3953,754},{749,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{749,90}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjidixuanze.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,1908},{689,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{689,135}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjixiangqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2366,1647},{329,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,126}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjixiangqingxiangxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{688,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{688,595}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_zhanjixiangqingxiangxidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,1505},{680,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{680,102}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/tongyong_xiadi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,1908},{750,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,109}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/friend_record_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>friendroom_sp2.png</string>
			<key>realTextureFileName</key>
			<string>friendroom_sp2.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>