<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/friendroom/friend_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/friend_create_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_1xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1474},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_1xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1337},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_2xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1587},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_2xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,1450},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_30fenzhong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,1337},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_30fenzhong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,1563},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_3xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1676},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_3xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1789},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_4xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1902},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_4xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,1450},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_5xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,1337},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_5xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,1563},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian0.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1337},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1521},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1728},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1912},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian4.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1728},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian5.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1912},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian6.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1728},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian7.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1728},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian8.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1912},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian9.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1728},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjianfanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1337},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjianshuziy.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1668},{440,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,58}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_bangzhuanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1521},{135,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,132}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_bangzhuanniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,1337},{135,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,132}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_bangzhug.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1337},{329,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,126}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_bangzhuneirong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{653,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{653,542}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>friendroom_sp.png</string>
			<key>realTextureFileName</key>
			<string>friendroom_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>