<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/friendroom/friend_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/friend_create_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_1xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1757},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_1xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1868},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_2xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1757},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_2xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1622},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_30fenzhong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1469},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_30fenzhong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1868},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_3xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1733},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_3xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1580},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_4xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1469},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_4xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,1334},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_5xiaoshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1844},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_5xiaoshi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1955},{111,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,77}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian0.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,1663},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,1845},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1663},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1845},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian4.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1334},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian5.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1516},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian6.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1622},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian7.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1804},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian8.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1334},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjian9.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1516},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjianfanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,1334},{182,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,106}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_anjianshuziy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1987},{440,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,58}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_bangzhuanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1334},{135,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,132}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_bangzhuanniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1622},{135,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,132}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_bangzhug.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,1334},{329,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,126}</string>
			</dict>
			<key>cocostudio/home/image/friendroom/haoyouchang_bangzhuneirong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1334},{653,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{653,542}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>friendroom_sp.png</string>
			<key>realTextureFileName</key>
			<string>friendroom_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>