<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby_home/dating_buyu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1569,166},{435,562}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,567}</string>
			</dict>
			<key>lobby_home/dating_chongzhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,903},{180,78}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,88}</string>
			</dict>
			<key>lobby_home/dating_chongzhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,903},{198,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,88}</string>
			</dict>
			<key>lobby_home/dating_datingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>lobby_home/dating_duorenduizhan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,753},{330,260}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,270}</string>
			</dict>
			<key>lobby_home/dating_fankui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1},{93,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>lobby_home/dating_fankui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,952},{103,52}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>lobby_home/dating_gongaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,859},{882,42}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{883,43}</string>
			</dict>
			<key>lobby_home/dating_huodong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,939},{72,69}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>lobby_home/dating_huodong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1541,939},{80,75}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>lobby_home/dating_jia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1919,107},{52,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>lobby_home/dating_jia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,952},{58,60}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>lobby_home/dating_jieji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,753},{330,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,267}</string>
			</dict>
			<key>lobby_home/dating_jinbidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,903},{252,47}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,51}</string>
			</dict>
			<key>lobby_home/dating_kefu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,51},{54,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_kefu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,939},{60,87}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_kuaisukaishi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,850},{316,87}}</string>
				<key>offset</key>
				<string>{13,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,111}</string>
			</dict>
			<key>lobby_home/dating_kuaisukaishi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,753},{348,95}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,111}</string>
			</dict>
			<key>lobby_home/dating_paihangbang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,952},{68,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_paihangbang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,903},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_shezhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,1},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_shezhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,939},{62,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_touxiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,903},{96,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,104}</string>
			</dict>
			<key>lobby_home/dating_wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,988},{38,27}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,30}</string>
			</dict>
			<key>lobby_home/dating_xiaoxi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,80},{50,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_yinhang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,939},{58,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_yinhang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,903},{64,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_youcedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,753},{104,552}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,552}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lobby_home.png</string>
			<key>realTextureFileName</key>
			<string>lobby_home.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>