<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/effect/start/start_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,900},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1200},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1500},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,900},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1200},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>cocostudio/home/image/effect/start/start_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1500},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>StartEffect.png</string>
			<key>realTextureFileName</key>
			<string>StartEffect.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>