<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>login/denglu_chongzhimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,899},{197,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,74}</string>
			</dict>
			<key>login/denglu_chongzhimimadadi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{614,786}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{633,809}</string>
			</dict>
			<key>login/denglu_denglanniu11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1948,268},{244,90}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,136}</string>
			</dict>
			<key>login/denglu_denglanniu22222.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,922},{268,100}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,136}</string>
			</dict>
			<key>login/denglu_denglu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,756},{227,62}}</string>
				<key>offset</key>
				<string>{36,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,118}</string>
			</dict>
			<key>login/denglu_denglu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,818},{226,62}}</string>
				<key>offset</key>
				<string>{37,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,118}</string>
			</dict>
			<key>login/denglu_dengludi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,880},{137,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,136}</string>
			</dict>
			<key>login/denglu_dengluzhucebiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,827},{198,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,74}</string>
			</dict>
			<key>login/denglu_dengluzhucedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,0},{614,786}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{633,821}</string>
			</dict>
			<key>login/denglu_huanyingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,786},{539,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{539,57}</string>
			</dict>
			<key>login/denglu_jinggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,923},{634,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,74}</string>
			</dict>
			<key>login/denglu_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,827},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>login/denglu_shoujidenglu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,922},{260,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,81}</string>
			</dict>
			<key>login/denglu_shoujidenglu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,843},{286,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,91}</string>
			</dict>
			<key>login/denglu_wangjidenglumima.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,818},{253,55}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,57}</string>
			</dict>
			<key>login/denglu_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,993},{750,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,18}</string>
			</dict>
			<key>login/denglu_youkedenglu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,756},{260,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,81}</string>
			</dict>
			<key>login/denglu_youkedenglu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,843},{286,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,91}</string>
			</dict>
			<key>login/denglu_zhuce1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1948,512},{244,90}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,163}</string>
			</dict>
			<key>login/denglu_zhuce11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,880},{225,62}}</string>
				<key>offset</key>
				<string>{-35,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,112}</string>
			</dict>
			<key>login/denglu_zhuce2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,756},{226,62}}</string>
				<key>offset</key>
				<string>{-35,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,112}</string>
			</dict>
			<key>login/denglu_zhuce2222.png</key>
			<dict>
				<key>frame</key>
				<string>{{1948,0},{268,100}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,163}</string>
			</dict>
			<key>login/denglu_zhucedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{137,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,338}</string>
			</dict>
			<key>login/meirirenwu_cha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,971},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>login/meirirenwu_cha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,971},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>login/tixian_fasong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,942},{138,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,84}</string>
			</dict>
			<key>login/tixian_fasong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1633,942},{138,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,84}</string>
			</dict>
			<key>login/tixian_jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,873},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>login_sp.png</string>
			<key>realTextureFileName</key>
			<string>login_sp.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>