<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>login/denglu_chongzhimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1258},{197,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,74}</string>
			</dict>
			<key>login/denglu_chongzhimimadadi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1334},{614,786}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{633,809}</string>
			</dict>
			<key>login/denglu_denglanniu11.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1471},{244,90}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,136}</string>
			</dict>
			<key>login/denglu_denglanniu22222.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1948},{268,100}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,136}</string>
			</dict>
			<key>login/denglu_denglu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,1258},{227,62}}</string>
				<key>offset</key>
				<string>{36,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,118}</string>
			</dict>
			<key>login/denglu_denglu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,1334},{226,62}}</string>
				<key>offset</key>
				<string>{37,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,118}</string>
			</dict>
			<key>login/denglu_dengludi.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1715},{137,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,136}</string>
			</dict>
			<key>login/denglu_dengluzhucebiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,1060},{198,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,74}</string>
			</dict>
			<key>login/denglu_dengluzhucedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1334},{614,786}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{633,821}</string>
			</dict>
			<key>login/denglu_huanyingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1948},{539,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{539,57}</string>
			</dict>
			<key>login/denglu_jinggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1948},{634,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,74}</string>
			</dict>
			<key>login/denglu_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,850},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>login/denglu_shoujidenglu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,330},{260,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,81}</string>
			</dict>
			<key>login/denglu_shoujidenglu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,1948},{286,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,91}</string>
			</dict>
			<key>login/denglu_wangjidenglumima.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1561},{253,55}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,57}</string>
			</dict>
			<key>login/denglu_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2018},{750,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,18}</string>
			</dict>
			<key>login/denglu_youkedenglu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,590},{260,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,81}</string>
			</dict>
			<key>login/denglu_youkedenglu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,44},{286,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,91}</string>
			</dict>
			<key>login/denglu_zhuce1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,1471},{244,90}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,163}</string>
			</dict>
			<key>login/denglu_zhuce11.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1852},{225,62}}</string>
				<key>offset</key>
				<string>{-35,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,112}</string>
			</dict>
			<key>login/denglu_zhuce2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,1560},{226,62}}</string>
				<key>offset</key>
				<string>{-35,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,112}</string>
			</dict>
			<key>login/denglu_zhuce2222.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,1948},{268,100}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,163}</string>
			</dict>
			<key>login/denglu_zhucedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1334},{137,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,338}</string>
			</dict>
			<key>login/meirirenwu_cha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,2005},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>login/meirirenwu_cha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,0},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>login/tixian_fasong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,1786},{138,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,84}</string>
			</dict>
			<key>login/tixian_fasong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1561},{138,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,84}</string>
			</dict>
			<key>login/tixian_jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1258},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
			<key>login/dating_beijingmengbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{751,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{751,1334}</string>
			</dict>
			<key>login/dating_beijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,0},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>login/denglu_dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,0},{753,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{753,234}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>login_sp.png</string>
			<key>realTextureFileName</key>
			<string>login_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>