<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>i:\Code\libs\TexasPorker.exe</StartProgram>
    <StartArguments>-workdir i:\Code\client\texas\luaproj\luaproj -resolution 540x960</StartArguments>
    <StartWorkingDirectory>i:\Code\client\texas\luaproj\luaproj</StartWorkingDirectory>
  </propertyGroup>
</Project>