<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/dating_add1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,1658},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>cocostudio/home/image/dating_add2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,1576},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>cocostudio/home/image/dating_beijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/dating_bisaichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1337},{274,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,260}</string>
			</dict>
			<key>cocostudio/home/image/dating_fankui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,1905},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_fankui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1594,1905},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_gonggaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,1528},{587,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{587,46}</string>
			</dict>
			<key>cocostudio/home/image/dating_huodong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,1821},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_huodong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,1905},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_jibi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,1994},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>cocostudio/home/image/dating_kefu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,1778},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_kefu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1694,1678},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_lijikaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1613},{274,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,260}</string>
			</dict>
			<key>cocostudio/home/image/dating_paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,1337},{86,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,386}</string>
			</dict>
			<key>cocostudio/home/image/dating_paiyouchang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,1705},{116,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,171}</string>
			</dict>
			<key>cocostudio/home/image/dating_panghangdieri.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,1778},{52,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,41}</string>
			</dict>
			<key>cocostudio/home/image/dating_panghangdisani.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,1778},{52,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,41}</string>
			</dict>
			<key>cocostudio/home/image/dating_panghangdiyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,1994},{52,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,41}</string>
			</dict>
			<key>cocostudio/home/image/dating_renwu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,1576},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_renwu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,1867},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_shangcheng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,1828},{194,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,75}</string>
			</dict>
			<key>cocostudio/home/image/dating_shangcheng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,1425},{226,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,87}</string>
			</dict>
			<key>cocostudio/home/image/dating_shangfangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1913},{750,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,117}</string>
			</dict>
			<key>cocostudio/home/image/dating_shezhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,1956},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_shezhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,1767},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_touxiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,1576},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>cocostudio/home/image/dating_touxiangdi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,1843},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>cocostudio/home/image/dating_touxiangdi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,1747},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>cocostudio/home/image/dating_tubiaotanchuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,1425},{294,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,101}</string>
			</dict>
			<key>cocostudio/home/image/dating_tuichu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,1665},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_tuichu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1804,1576},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_xiafangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1910},{755,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{755,115}</string>
			</dict>
			<key>cocostudio/home/image/dating_xiangshanganniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1665},{89,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,80}</string>
			</dict>
			<key>cocostudio/home/image/dating_xiangshanganniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,1576},{89,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,80}</string>
			</dict>
			<key>cocostudio/home/image/dating_xiangshanganniu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,1945},{89,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,80}</string>
			</dict>
			<key>cocostudio/home/image/dating_xiangshanganniu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,1945},{89,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,80}</string>
			</dict>
			<key>cocostudio/home/image/dating_youxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,1856},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_youxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,1754},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>cocostudio/home/image/dating_youxichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,1337},{274,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,260}</string>
			</dict>
			<key>cocostudio/home/image/di_gerenxinxidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{574,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{574,544}</string>
			</dict>
			<key>cocostudio/home/image/di_touxiangxuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,1705},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>cocostudio/home/image/di_xiugaixinxineirong.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1337},{571,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{571,354}</string>
			</dict>
			<key>cocostudio/home/image/haoyouchang_jindutiaokong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,1},{672,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{672,22}</string>
			</dict>
			<key>cocostudio/home/image/haoyouchang_jindutiaoman.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,675},{672,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{672,22}</string>
			</dict>
			<key>cocostudio/home/image/haoyouchang_meiykaishiduiju.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,1613},{451,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{451,90}</string>
			</dict>
			<key>cocostudio/home/image/haoyouchang_zhanjidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/paihangbang_weishangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,1576},{91,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,30}</string>
			</dict>
			<key>cocostudio/home/image/shezhi_yinyueguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1951,1349},{166,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,71}</string>
			</dict>
			<key>cocostudio/home/image/shezhi_yinyuekai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,1705},{166,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,71}</string>
			</dict>
			<key>cocostudio/home/image/zhujiemian_zhezhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1705},{118,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>home_sp.png</string>
			<key>realTextureFileName</key>
			<string>home_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>