<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sc__00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,0},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,120},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,120},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,120},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,240},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,240},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,240},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,360},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,360},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,360},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,480},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,480},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,480},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,600},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,600},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,600},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,720},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,720},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,720},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,840},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,840},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,840},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,960},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,960},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,960},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1330},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1580},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1830},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1080},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1330},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1580},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1080},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1330},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1580},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,1830},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
			<key>sc__00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,1080},{250,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shop_sp.png</string>
			<key>realTextureFileName</key>
			<string>shop_sp.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>