<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/shop/item_diamond_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,227},{226,316}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,0},{227,316}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,303},{224,316}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,668},{222,316}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,1642},{223,316}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,619},{224,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,442},{226,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,215},{227,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1010},{224,316}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,1307},{222,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,909},{223,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1326},{224,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_anniudi.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{569,72}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_fanhui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,1193},{88,89}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_fanhui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1155},{96,97}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1334},{215,337}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi112.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,0},{193,303}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1671},{215,337}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi222.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,303},{193,303}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1671},{215,337}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi332.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,606},{193,303}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1671},{215,337}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi442.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,1623},{193,303}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,0},{215,337}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi552.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,890},{193,303}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1334},{221,337}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi662.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,0},{197,303}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,245},{95,50}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbiliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,569},{287,72}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_ketixianjinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,2008},{187,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,35}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_nindezhuanshibuzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2010},{428,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,29}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_qinglianxidailichongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,2008},{218,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,29}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_quchongzhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,935},{220,82}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,107}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_quchongzhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,239},{242,90}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,107}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_quxiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,1225},{220,82}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,107}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_quxiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,481},{242,90}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,107}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_tixian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,1958},{217,88}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,179}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_tixian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,0},{239,96}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,179}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_wanjinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,0},{77,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,35}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_wanjinbishuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,2010},{278,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,43}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,856},{33,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_yuanshuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,2008},{240,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,34}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_zhuanshian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,340},{95,50}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_zhuanshiliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,723},{287,72}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,77},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,37}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_zuanshixiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,137},{41,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,38}</string>
			</dict>
			<key>cocostudio/home/image/shop/tongyong_cha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,212},{33,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>cocostudio/home/image/shop/tongyong_cha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,175},{37,37}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>cocostudio/home/image/shop/tongyong_tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,435},{95,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,46}</string>
			</dict>
			<key>cocostudio/home/image/shop/tongyong_xiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1334},{676,473}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,506}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shop_sp.png</string>
			<key>realTextureFileName</key>
			<string>shop_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>