<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocostudio/home/image/shop/item_diamond_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,435},{226,316}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,218},{227,316}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,907},{224,316}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,447},{222,316}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1225},{223,316}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_diamond_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1225},{224,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,679},{226,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,306},{227,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1738},{224,316}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,1071},{222,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,753},{223,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/item_gold_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,907},{224,316}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,366}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_anniudi.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1337},{569,72}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{750,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1334}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_fanhui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,1859},{88,89}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_fanhui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,1760},{96,97}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1},{215,337}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi112.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1543},{193,303}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{215,337}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi222.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,1389},{193,303}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,1},{215,337}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi332.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1694},{193,303}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,218},{215,337}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi442.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,671},{193,303}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,340},{215,337}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi552.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,976},{193,303}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,1337},{221,337}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbi662.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,1},{197,303}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,355}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbian.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1765},{95,50}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_jinbiliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1823},{287,72}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_ketixianjinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,2006},{187,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,35}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_nindezhuanshibuzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2015},{428,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,29}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_qinglianxidailichongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,2015},{218,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,29}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_quchongzhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,1812},{220,82}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,107}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_quchongzhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1579},{242,90}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,107}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_quxiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1676},{220,82}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,107}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_quxiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1908},{242,90}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,107}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_tixian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1676},{218,87}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,179}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_tixian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1337},{240,95}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,179}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_wanjinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,2006},{77,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,35}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_wanjinbishuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,2000},{278,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,43}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1760},{33,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_yuanshuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1971},{240,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,34}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_zhuanshian.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1765},{95,50}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_zhuanshiliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1897},{287,72}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,1896},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,37}</string>
			</dict>
			<key>cocostudio/home/image/shop/shangcheng_zuanshixiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,1896},{41,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,38}</string>
			</dict>
			<key>cocostudio/home/image/shop/tongyong_cha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1760},{33,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>cocostudio/home/image/shop/tongyong_cha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1760},{37,37}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>cocostudio/home/image/shop/tongyong_tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1765},{95,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,46}</string>
			</dict>
			<key>cocostudio/home/image/shop/tongyong_xiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{676,473}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,506}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shop_sp.png</string>
			<key>realTextureFileName</key>
			<string>shop_sp.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>