<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby_home/dating_buyu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,0},{439,567}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,567}</string>
			</dict>
			<key>lobby_home/dating_chongzhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,750},{198,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,88}</string>
			</dict>
			<key>lobby_home/dating_chongzhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,750},{198,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,88}</string>
			</dict>
			<key>lobby_home/dating_datingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>lobby_home/dating_duorenduizhan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{340,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,270}</string>
			</dict>
			<key>lobby_home/dating_fankui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,905},{126,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>lobby_home/dating_fankui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,904},{126,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>lobby_home/dating_gongaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,972},{883,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{883,43}</string>
			</dict>
			<key>lobby_home/dating_huodong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,786},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>lobby_home/dating_huodong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1855,879},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>lobby_home/dating_jia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,904},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>lobby_home/dating_jia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,889},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>lobby_home/dating_jieji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,750},{339,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,267}</string>
			</dict>
			<key>lobby_home/dating_jinbidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,750},{254,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,51}</string>
			</dict>
			<key>lobby_home/dating_kefu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,801},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_kefu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,801},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_kuaisukaishi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,750},{361,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,111}</string>
			</dict>
			<key>lobby_home/dating_kuaisukaishi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,861},{361,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,111}</string>
			</dict>
			<key>lobby_home/dating_paihangbang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,786},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_paihangbang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,786},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_qipai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,439},{347,570}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{347,570}</string>
			</dict>
			<key>lobby_home/dating_shezhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,889},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_shezhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,786},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_touxiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,801},{101,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,104}</string>
			</dict>
			<key>lobby_home/dating_wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,955},{41,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,30}</string>
			</dict>
			<key>lobby_home/dating_xiaoxi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,889},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_yinhang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,786},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>lobby_home/dating_yinhang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,889},{85,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lobby_home.png</string>
			<key>realTextureFileName</key>
			<string>lobby_home.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>