<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/lobby_home/dating_buyu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1256},{435,562}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,567}</string>
			</dict>
			<key>images/lobby_home/dating_chongzhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1102},{180,78}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,88}</string>
			</dict>
			<key>images/lobby_home/dating_chongzhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1102},{198,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,88}</string>
			</dict>
			<key>images/lobby_home/dating_datingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>images/lobby_home/dating_duorenduizhan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1085},{330,260}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,270}</string>
			</dict>
			<key>images/lobby_home/dating_fankui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,1182},{93,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>images/lobby_home/dating_fankui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,1151},{103,52}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>images/lobby_home/dating_huodong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1182},{72,69}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>images/lobby_home/dating_huodong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1918},{80,75}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>
			<key>images/lobby_home/dating_jia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1820},{52,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>images/lobby_home/dating_jia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,1901},{58,60}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>images/lobby_home/dating_jieji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,753},{330,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,267}</string>
			</dict>
			<key>images/lobby_home/dating_jinbidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,726},{252,47}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,51}</string>
			</dict>
			<key>images/lobby_home/dating_kefu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1820},{54,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_kefu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1187},{60,87}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_kuaisukaishi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,905},{316,87}}</string>
				<key>offset</key>
				<string>{13,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,111}</string>
			</dict>
			<key>images/lobby_home/dating_kuaisukaishi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,555},{348,95}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,111}</string>
			</dict>
			<key>images/lobby_home/dating_paihangbang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,1069},{68,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_paihangbang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1102},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_qipai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,753},{330,557}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{347,570}</string>
			</dict>
			<key>images/lobby_home/dating_shezhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,1918},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_shezhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,1187},{62,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_touxiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1820},{96,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,104}</string>
			</dict>
			<key>images/lobby_home/dating_wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1223},{38,27}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,30}</string>
			</dict>
			<key>images/lobby_home/dating_xiaoxi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1997},{50,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_yinhang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1182},{58,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_yinhang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,980},{64,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,103}</string>
			</dict>
			<key>images/lobby_home/dating_youcedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,1},{104,552}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,552}</string>
			</dict>
			<key>images/lobby_home/dating_datingdikuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1},{1099,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1099,550}</string>
			</dict>
			<key>images/lobby_home/dating_tuichu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,2000},{52,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,67}</string>
			</dict>
			<key>images/lobby_home/dating_tuichu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2000},{58,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,67}</string>
			</dict>
			<key>images/lobby_home/dating_gongaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,1},{723,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{723,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lobby_home.png</string>
			<key>realTextureFileName</key>
			<string>lobby_home.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>